## ¿ Y que es un objeto?

Un objeto es “una cosa”. Y, si una cosa es un sustantivo, entonces un objeto es un sustantivo.

## Las cualidades de un objeto

Describir un objeto, es simplemente mencionar sus cualidades. Las cualidades son
adjetivos.

Para describir “la manera de ser” de un objeto, debemos preguntarnos **¿cómo es el objeto?**

Toda respuesta que comience por **“el objeto es”**, seguida de un adjetivo será una cualidad del objeto.

Además de cualidades, los objetos “tienen
otras cosas”. Estas “otras cosas”, son aquellas “pseudo-cualidades” que en vez de
responder a **¿cómo es el objeto?** responden a **“¿cómo está compuesto el objeto?”** o
incluso, aún más simple **“¿Qué tiene el objeto?”**.

## Accciones de un objeto

Los objetos tiene la capacidad de realizar acciones.Las acciones, son verbos.


Es decir, que para conocer las capacidades de un objeto, debes preguntarte **“¿Qué puede hacer
el objeto?”**  y la respuesta a esta pregunta, estará dada por todas aquellas que comiencen por la frase **“el objeto puede”** seguida de un verbo en infinitivo.

## Las cosas por su nombre

#Programación Orientada a Objetos

La Programación Orientada a Objetos (POO u OOP por sus siglas en inglés), es un paradigma de programación.

## Clases:

Las clases son los modelos sobre los cuáles se construirán nuestros objetos

> Teoría o conjunto de teorías cuyo núcleo central se acepta sin cuestionar y que suministra la base y modelo para resolver problemas y avanzar en el conocimiento.


Es decir nos enseña un método -probado y estudiado- el cual se basa en las interacciones de objetos para
resolver las necesidades de un sistema informático.

## Propiedades

Las propiedades, son las características intrínsecas del objeto.
Éstas, se representan a modo de variables, solo que técnicamente, pasan a denominarse
“propiedades” o "atributos".

## Métodos

Los métodos son “funciones” y representan acciones propias que puede realizar
el objeto (y no otro):

## Objeto

Las clases por sí mismas, no son más que modelos que nos servirán para crear objetos
en concreto. Podemos decir que una clase, es el razonamiento abstracto de un objeto,
mientras que el objeto, es su materialización. A la acción de crear objetos, se la denomina
“instanciar una clase” y dicha instancia, consiste en asignar la clase, como valor a una
variable:

## ... Continuación de tuplas

In [ ]:
frutas = ("manzana", "platano", "cereza")

(verde, amarillo, rojo) = frutas

print(verde)
print(amarillo)
print(rojo)

manzana
platano
cereza

In [2]:
frutas = ("manzana", "platano", "cereza", "fresa", "frambuesa")

(verde, amarillo, *rojo) = frutas

print(verde)
print(amarillo)
print(rojo)

manzana
platano
['cereza', 'fresa', 'frambuesa']

In [ ]:
print(len(frutas))
type(frutas)

5

tuple

## Metodos

In [3]:
print(frutas.count("fresa"))

print(frutas.index("fresa"))

1
3

## Funciones Predefinidas

### Básicas:

* print(): Muestra mensajes o variables en la consola.

* input(): Permite al usuario ingresar datos desde el teclado.

* help(): Invoca el sistema de ayuda integrada.


### Conversión:

* int(): Convierte a entero.

* float(): Convierte a número decimal.

* str(): Convierte cualquier valor a cadena de texto.

* list(), tuple(), dict(), set(): Convierten una secuencia al tipo de colección indicado.

### Mátematicas (sin importar paquetería math)

* abs(): Devuelve el valor absoluto.

* pow(base, exp): Eleva un número a una potencia.

* round(): Redondea un número al entero o decimal más cercano.

* sum(): Suma todos los elementos de una lista o tupla.

* min() / max(): Encuentran el valor más pequeño o más grande en un grupo.

### Listas

* len(): Devuelve la longitud (número de elementos) de un objeto.

In [ ]:
abs(-3)

3

In [ ]:
c=6
float(c)

6.0

In [ ]:
float('cadena')

ValueError: could not convert string to float: 'cadena'

In [ ]:
int(2.5) # algo en entero

2

In [ ]:
int('2')

2

In [ ]:
str(4.8) #algo a cadena de caracteres

'4.8'

In [ ]:
round(4.65748298457,3)

4.657

En lugar de escribir muchas declaraciones if..else, puedes usar la declaración de match.



```
match expression:
  case x:
    code block
  case y:
    code block
  case z:
    code block
```

In [ ]:
dia = 4

if dia==1:
  print("Lunes")
elif dia==2:
  print("Martes")
elif dia==3:
  print("Miercoles")
elif dia==4:
  print("Jueves")
elif dia==5:
  print("Viernes")
elif dia==6:
  print("Sabado")
elif dia==7:
  print("Domingo")
else:
  print("Día no valido")

Jueves

In [ ]:
dia = 4
match dia:
  case 1:
    print("Lunes")
  case 2:
    print("Martes")
  case 3:
    print("Miercoles")
  case 4:
    print("Jueves")
  case 5:
    print("Viernes")
  case 6:
    print("Sabado")
  case 7:
    print("Domingo")
  case _:
    print("Día no valido")

Jueves

In [ ]:
dia = 3
match dia:
  case 1 | 2 | 3 | 4 | 5:
    print("Día entre semana")
  case 6 | 7:
    print("Fin de semana!")

Día entre semana

# Bucles

## While

Con el bucle while podemos ejecutar un conjunto de instrucciones siempre que una condición sea verdadera.

In [ ]:
i = 1
while i < 10:
  print(i)
  break

1

Con la declaración break podemos detener el bucle incluso si la condición while es verdadera:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Con la instrucción continue podemos detener la iteración actual y continuar con la siguiente:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [5]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i ya es menor que 6")

1
2
3
4
5
i ya es menor que 6

FOR

In [ ]:
print(frutas)
print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

('manzana', 'platano', 'cereza', 'fresa', 'mora')
manzana
platano
cereza
fresa
mora

In [ ]:
for x in frutas:
  print(x)

manzana
platano
cereza
fresa
mora

Iterar una cadena:

In [ ]:
for i in "Facultad de Ciencias":
  print(i)

F
a
c
u
l
t
a
d

d
e

C
i
e
n
c
i
a
s

In [ ]:
for x in frutas:
  print(x)
  if x == "platano":
    break

manzana
platano

In [ ]:
frutas = ["manzana", "platano", "cereza"]
for x in frutas:
  if x == "platano":
    break
  print(x)

manzana

In [ ]:
frutas = ["manzana", "platano", "cereza"]
for x in frutas:
  if x == "platano":
    continue
  print(x)

manzana
cereza

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for x in range(3, 8):
  print(x)

3
4
5
6
7

In [7]:
for x in range(5, 25,5):
  print(x)

5
10
15
20

In [8]:
for x in range(8):
  print(x)
else:
  print("Aqui termina")

0
1
2
3
4
5
6
7
Aqui termina

In [ ]:
numeros = ["1", "2", "3"]
frutas = ["manzana", "platano", "cereza"]

for x in numeros:
  for y in frutas:
    print(x, y)

1 manzana
1 platano
1 cereza
2 manzana
2 platano
2 cereza
3 manzana
3 platano
3 cereza

In [ ]:
for x in [0, 1, 2]:
  pass